.company-cont {
    overflow: hidden;
}


.filter-selection-cont {
    margin: 3 svh auto;
    padding: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-details-cont {
    margin-top: 5vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10vh;
}

h5 {
    color: grey;
    text-align: start;
}

h5 span {
    color: black;
    text-align: end;
    font-size: 1.1rem;
}



.go-back-cont{
position: absolute;
    bottom: 4vh;
    left: 4vh;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@keyframes purchase {
    0%{background-color: deepskyblue}
    50%{transform: translateX(200vh) ; scale: 0.1;}
    100%{opacity: 0; transform: translateX(200vh)}
}