.admin-cont{
    height: 100%;
    overflow: hidden;
    padding: 2vh;
}
.admin-top-cont{
margin-top: 2vh;
}
.admin-title{
    text-align: center;

}
input {
    border-style: solid;
    height: 5svh;
    text-align: center;
    border-radius: 1vh;
    color:black;
}
.add-new-company-form{

    height: 50svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}