.admin-cont{
    height: 100%;
    overflow: hidden;
    padding: 2vh;
}
.admin-top-cont{
margin-top: 2vh;
}
.admin-title{
    text-align: center;

}
input {
    border-style: solid;
    height: 5svh;
    text-align: center;
    border-radius: 1vh;
    color:black;
}
.add-new-company-form{

    height: 50svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.item-list{
    height: 70svh;
    width: 100%;
    display: grid;
    grid-template-columns:  33%  33%   33% ;
    padding: 1vh;
    gap: 1vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item-cont{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
    gap: 1vh;
}
.item-main-p{
    width: 10svh;
    min-width: 10svh;
    max-width: 10svh;

    height: 10svh;
    max-height: 10svh;
    min-height: 10svh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.bottom-item-cont{
display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1vh;

}
.item-sec-p{

    font-size: 1.2rem;
    font-weight: bolder;
}
.item-third-p{
margin-right: 1vh;
    width: 100%;
    margin-left: 1vh;
}










.selected-company-cont{
    padding: 1vh;
    margin-top: 4vh;
}
.coupon-list-cont{
    height: 70svh;
    width: 100%;
    display: grid;
    grid-template-columns:  33%  33%   33% ;
    padding: 2vh;
    gap: 1vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.coupon-cont{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
    border-radius: 3svh;
    padding: 3vh;
}

.upper-coupon-cont{
    display: flex;
    flex-direction: column;
    position:relative;
}
.buy-cont{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;


}
.c-title{
    font-weight: bolder;
}
.c-desc{
    opacity: 0.6;
}
.c-exp{
    font-size: 0.6rem;
}
.bottom-coupon-cont{

}
.c-amount , .c-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 900px) {
    .item-list{
        height: 70svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vh;
        gap: 1vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .item-main-p{
        width: 6svh;
        min-width: 6svh;
        max-width: 6svh;

        height: 6svh;
        max-height: 6svh;
        min-height: 6svh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
    }

    .coupon-list-cont{
        height: 70svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vh;
        gap: 4vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}