.app{
    height: 93svh;
    width: 100%;
    overflow: hidden;
}

.main-cont {
    margin-top: 7vh;
    height: 100%;
    width: 100%;
}


.actions-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3svh;
    align-items: center;
    justify-content: center;
    height: 60svh;
    overflow-y: scroll;
    padding: 2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
    border-radius: 2vh;

}
.action-card{
    min-height: 25svh;
    min-width: 25svh;
    height: 15svh;
    width: 15svh;
    padding: 2vh;
    border-radius: 3vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.action-name{
    text-align: center;
}
.action-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

@media screen and (max-width: 600px) {
    .action-card{
        min-height: 10svh;
        min-width: 10svh;
        height: 15svh;
        width: 15svh;
        padding: 2vh;
        border-radius: 3vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}